.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(29, 28, 32, 60%);
  background-size: 60%;
  background-repeat: no-repeat;
  border: 1px solid $color-border;
  padding: 30px;
  border-radius: 32px;
}

.action__card_text {
  flex: 1 1 auto;
}

@include mediaSmallMobile {
  .card {
    padding: 30px 15px 30px 15px;
  }
}
