.popular {
  margin: 110px 0 0 0;
}
.popular__title {
  font-size: 60px;
  line-height: 86px;
}
.popular__row {
  display: flex;
  margin: -15px -15px;
  flex-wrap: wrap;
}
.popular__column {
  padding: 15px 15px;
  display: flex;
  flex: 1 1 33%;
}
.popular__card {
  background-image: url('../../img/bg-cards-popular.png');
  background-position: right bottom;
}
.popular__content {
  margin: 50px 0 0 0;
}
@include mediaTablet {
  .popular {
    margin: 90px 0 0 0;
  }
  .popular__title {
    font-size: 50px;
    line-height: 50px;
  }
}
@include mediaBigMobile {
  .popular__title {
    font-size: 45px;
  }
}
@include mediaMediumMobile {
  .popular {
    margin: 80px 0 0 0;
  }
  .popular__title {
    font-size: 40px;
    line-height: 50px;
  }
  .popular__content {
    margin: 30px 0 0 0;
  }
}
@include mediaSmallMobile {
  .popular {
    margin: 60px 0 0 0;
  }
  .popular__title {
    font-size: 30px;
    line-height: 30px;
  }
}
