// fonts
$font-main: 'Inter', serif;

// color
$color-main: #a9a9a9;
$white: #fff;
$color-hover: #8688f2;

// border
$color-border: rgba(255, 255, 255, 0.08);

// Adaptive
$first-brakepoint: 1153px;
$tablet: 992.98px;
$big-mobile: 767.98px;
$medium-mobile: 565.98px;
$small-mobile: 479.98px;
